**/debug/
**/target/

**/*.rs.bk

.idea/

**/crashes/
**/timeouts/
**/solutions/
**/.cur_input*

LibAFL/
AFLTriage/
hirsute-rootfs/

*.log
*.log.*
*.old
*.obj
*.zip
*.o
*.o.tmp
*.a
*.dll
*.so

fuzzer
triager
